/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif; 
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
header a{
  text-decoration: none;
  color: rgb(152,173,166);
}
header a:hover {
  color: rgb(111,127,122);
}

h1 {
  color: rgb(152,173,166);
  padding-bottom: 10px;
	margin: 0 0 5px;
	font-size: 6em;
	font-weight: large;
	font-family: 'Baskerville', serif;
	border-bottom: 1px solid #ccc;
}

p {
  font-size: 1em;
  color: #555;
  margin: 0 0 20px 0;
}
h2 {
  color: rgb(111,127,122);
  font-size: 2em;
}
#featured img {
  border: 5px rgb(152,173,166) solid ;
}
#Press img {
  border:5px #ccc solid;
  padding: 1px;
}
#Press img:hover {
	border: 5px rgb(111,127,122) solid;
}
footer {
  text-align: right;
  font-size:.8em;
  font-weight: 100;
}
#About a {
  color: #1783bb;
  text-decoration: none;
}
